.idea/*
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml
.idea/workspace.xml
.idea/shelf/
.idea/httpRequests/

.venv/
.DS_Store
__pycache__

input_files/*
!input_files/inputVariables.py
output_files/
/Exports/
!*/exports/
